
yesaya.txd.txt

dataset/New Text Document - Copy (10).txt

dataset/New Text Document - Copy (11).txt

dataset/New Text Document - Copy (12).txt



dataset/New Text Document - Copy (13).txt
dataset/New Text Document - Copy (15).txt
dataset/New Text Document - Copy (14).txt
*.txt
